@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700;900&family=GFS+Didot&family=Great+Vibes&display=swap');

// ---Fonts To Remember---
// Abril Fatface
// 'Vollkorn', serif
// Ubuntu
// Lato
// Great Vibes = banner font

// light gold: #F7EF8A
// medium gold: #D2AC47
// dark gold: #E0AA3E

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GFS Didot', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background-color: #1e1e1a;
    color: #D4AF37;
    padding: 30px;
}

 .header {
     height: 95vh;
     background-image: linear-gradient(to right bottom,rgba(34, 33, 29, 0.95),rgba(31, 31, 27, 0.95)), url('../img/sparkle-salon.jpg');
     background-size: cover;
     background-position: top;
 }

.container-fluid {
    padding: 7% 15%;
}

.social-icon {
    color: #D4AF37;
    font-size: 27px;
    padding: 6px 5px 11px;
}

.navbar {
    // background-color: rgb(61, 45, 7);
    padding: 2rem 2rem;  
    font-weight: bold;
}

.SalonLogo {
    width: 50px;
    border-radius: 50%;
    margin-left: 1rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-dark .navbar-nav .nav-link {
    color: #D4AF37;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #E0AA3E;
}

.navbar-dark .navbar-nav .show > .nav-link {
    color: #ffe865;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #F7EF8A;
}

.dropdown-item {
    color: #D4AF37;
}

.dropdown-item:hover {
    background-color: #655f24;
    color: #ffe865;
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    font-weight: 700;
    background-color: #F7EF8A;
}


.dropdown-menu {
    background-color: #19191c;
}

.navbar-dark .navbar-toggler {
    color: goldenrod;
    border-color: goldenrod;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #D4AF37; 
}

.heading-primary-main {
display: block;
    font-family: 'Great Vibes', cursive;
    font-size: 300px;
    letter-spacing: 35px;
}

.heading-primary-Sub {
    display: block;
    font-size: 75px;
    text-align: right;
    letter-spacing: 15px;
}
/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/