@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700;900&family=GFS+Didot&family=Great+Vibes&display=swap');

// ---Fonts To Remember---
// Abril Fatface
// 'Vollkorn', serif
// Ubuntu
// Lato
// Great Vibes = banner font

// light gold: #F7EF8A
// medium gold: #D2AC47
// dark gold: #E0AA3E

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GFS Didot', serif;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.7;
    background-color: #1e1e1a;
    color: #D4AF37;
    padding: 3rem;
}

.u-text-center {
    text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

 .header {
     height: 95vh;
     background-image: linear-gradient(to right bottom,hsla(48, 8%, 12%, 0.87),rgba(25, 25, 28, 0.87)), url('../img/sparkle-salon.jpg');
     background-size: cover;
     background-position: top;
 }

.container-fluid {
    padding: 7% 15%;
}

.social-icon {
    color: #D4AF37;
    font-size: 27px;
    padding: 6px 5px 11px;
}

.navbar {
    // background-color: rgb(61, 45, 7);
    padding: 3rem 3rem;  
    font-weight: bold;
}

.SalonLogo {
    width: 50px;
    border-radius: 50%;
    margin-left: 1rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-dark .navbar-nav .nav-link {
    color: #D4AF37;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #E0AA3E;
}

.navbar-dark .navbar-nav .show > .nav-link {
    color: #ffe865;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #F7EF8A;
}

.dropdown-item {
    color: #D4AF37;
}

.dropdown-item:hover {
    background-color: #655f24;
    color: #ffe865;
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    font-weight: 700;
    background-color: #F7EF8A;
}


.dropdown-menu {
    background-color: #19191c;
}

.navbar-dark .navbar-toggler {
    color: goldenrod;
    border-color: goldenrod;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #D4AF37; 
}

.heading-primary-main {
display: block;
    font-family: 'Great Vibes', cursive;
    font-size: 300px;
    letter-spacing: 35px;
}

.heading-primary-Sub {
    display: block;
    font-size: 75px;
    text-align: right;
    letter-spacing: 15px;
}

.about-section {
    background-color: #19191c;
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #F7EF8A, #E0AA3E);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}

.paragraph {
  font-size: 1.2rem; 
}
.paragraph:not(:last-child) {
    margin-bottom: 3rem; 
}

.btn-text:link, .btn-text:visited {
  font-size: 1.2rem;
  position: relative;
  color: #D2AC47;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #D2AC47;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #F7EF8A 50%);
  background-size: 200%;
  padding: 6px;
  transition: all 0.2s; 
}

.btn-text:hover {
  background-position: 200%;
  background-color: #D2AC47;
  color: #19191c;
  box-shadow: 0 1rem 2rem rgba(224, 170, 62, 0.15);
  transform: translateY(-2px); 
}

// // .btn-text::before {
// //     content: '';
// //     position: absolute;
// //     top: 0;
// //     left: 0;
// //     width: 50%;
// //     height: 100%;
// //     background: #E0AA3E;
// // }

// // .btn-text::after {
// //     content: '';
// //     position: absolute;
// //     top: 0;
// //     left: -100%;
// //     width: 100%;
// //     height: 100%;
// //     background: linear-gradient(90deg,transparent, #F7EF8A, transparent);
// //     transition: .5s;
// // }

// .btn-text:hover, .btn-text:active {
    
// }
/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/